section.about {
    background-color: white;
    margin-top: 0rem;
    padding-top: 0%;
}

div.about {
    margin-left: 3rem;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

div.aboutImg {
    display:flex;
}

img.aboutImg {
    width: 30rem;
    margin-left: 1rem;
    margin-right: 3rem;
}

@media (max-width: 768px) {
    section.about {
        margin-top: 0;
        padding-top: 1rem;
    }

    div.about {
        flex-direction: column;
        margin-left: 1rem;
    }

    img.aboutImg {
        width: 90%;
        margin:auto;
        display:block;
        margin-bottom: 10%;;
    }
}