button.CTA {
    float: left;
    background-color: #C3A512;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 21px;
    font-family: 'Karla', 'Tahoma';
    font-size: 1.9em;
    font-stretch: expanded;
    margin-right: 2em;
    margin-left: 5em;
    /* margin-top: 2em; */
    width: 10em;
    margin-bottom: 2rem;
    height: 2em;
    width: 10em;
    /* display:inline-block; */
}

.intro {
    margin-left: 10rem;
    color: white;
    font-family: 'Markazi Text', 'Verdana';
    z-index: 1;
}

.sTitle {
    z-index: 1;
}

.chef {
    position: absolute;
    top: 30%;
    right: 13%;
    width: 400px;
    z-index: 2;
}

.chef img {
    width: 100%;
    height: 500px;
    border-radius: 20px;
}

p.intro {
    margin-right: .1em;
    width: 40rem;
    font-family: 'Karla', 'Tahoma';
    font-size: 2em;
    text-align: left;
}

h1.intro {
    color: #C3A512;
    margin-bottom: 1rem;
    font-size: 4em;
    margin-top: 4rem;
}

h2.intro {
    margin-top: 0;
    
}

@media (max-width: 768px) {
    button.reserve {
        float: none;
        width: 100%;
        margin: 1em 0;
        font-size: 1.5em;
    }

    .intro {
        margin: 2rem 1rem;
        text-align: center;
    }

    h1 {
        font-size: 2.5em;
    }

    p {
        font-size: 1.5em;
    }

    p.intro {
        width: 100%;
        margin: 0;
    }

    h1.intro {
        font-size: 3em;
    }

    h2.intro {
        font-size: 2em;
    }
}

@media (max-width: 1300px) {
    .chef {
        display: none;
    }
}