button.reserve {
    float: left;
    background-color: #C3A512;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 21px;
    font-family: 'Karla', 'Tahoma';
    font-size: 1.9em;
    font-stretch: expanded;
    margin-right: 2em;
    margin-top: -2em;
    width: 10em;
}