* {
    padding: 0px;
    margin: 0px
    }

div.testim {
    background:rgb(159, 158, 158);
    height: auto;
    margin: 0;
    padding: 0;
}

div.testim2 {
    display:flex;
    align-items: center;
    justify-content: space-around;
}

h1.testim {
    padding-top: 6%;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 4%;
}

p.person {
    font-size: 2ch;
    margin-left:3rem;
    margin-right: 3rem;
}

p.rating {
    font-size: 2ch;
    margin-left: 2ch;
}

h2.person {
    margin-left:3rem;
}

div.person {
    /* margin-left: 3rem;
    margin-right: 3rem; */
    margin-top: 1%;
    background-color: white;
    width: 15rem;
    gap: 10%;
}

div.showcase2 {
    gap: 5%;
    width: 100%;
    margin-left: 6rem;
    padding-bottom: 2em;
}

img.placeImg {
    width: 10rem;
    margin-left: 1rem;
}

div.nestedPerson {
    display:flex;
}

@media (max-width: 768px) {
    div.testim {
        height: auto;
        margin: auto;
        padding-top: 5%;
    }

    div.testim2 {
        flex-direction: column;
        align-items: center;
    }

    h1.testim {
        font-size: 2rem;
        padding-top: 10%;
        padding-bottom: 8%;
    }

    p.person, p.rating {
        font-size: 1.5ch;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    h2.person {
        margin-left: 1rem;
    }

    div.person {
        margin-left: 1rem;
        margin-right: 1rem;
        width: 70%;
    }

    img.placeImg {
        width: 8rem;
        margin-left: 0;
    }

    div.nestedPerson {
        flex-direction: column;
        align-items: center;
    }

    /* div.showcase2 {
        width: 100;
    } */
}

@media (max-width: 600px) {
    div.testim {
        height: auto;
        margin: auto;
        padding-top: 5%;
    }

    div.person {
        margin-left: 1rem;
        margin-right: 1rem;
        width: 70%;
    }

    div.showcase2 {
        width: 65%;
    }
}